* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    width: 100%;
    font-family: 'Optima', sans-serif;
    background: wheat;
    line-height: 1.7;   
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
h2, h3, h4, h5 {


}
#main_header {
    background-color: #ffa43a;
    text-align: center;
    width: auto;
    height: 700px;
}
#name {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

}
#name h1 {
    font-size: 2rem;
    line-height: 2rem;
}  
#info .sobre_mi{
    display: grid;
    grid-template-areas: 'perfil biografia biografia';
    grid-gap: 1.5rem;
}

#info .sobre_mi .perfil {
    grid-area: perfil;
}
#info .sobre_mi .biografia {
    grid-area: biografia;
    border-left: 3px solid #525558;
    padding: 1rem;
    background: #759eff;
}
#info .sobre_mi .biografia h4 {
    font-size: 3rem;
    text-align: right;
}
#info .sobre_mi .biografia p {
    font-size: 1.5rem;
    text-align: left;
}

/* Otros */

.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin:auto;
    overflow: hidden;
}
@media (max-width: 800px) {
    #main_header {
        height: 30rem;

    }
    #main_header 
}